/* CUSTOM PROPS */
:root {
  --text-color: #9e9aa8;
  --tetx-color-dark: #bfbfbf;
  --heading-color: #34313d;
  --accent-bg-color: #2bd0d0;
  --error-color: #f46363;

}

/* FONTS  */
@font-face {
  font-family: 'Poppins';
  src: url('../Fonts/Poppins-Bold.woff2') format('woff2'),
    url('../Fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../Fonts/Poppins-Medium.woff2') format('woff2'),
    url('../Fonts/Poppins-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* *:focus {
  outline: 3px dashed var(--accent-bg-color);
  outline-offset: 5px;
} */

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', 'Arial', sans-serif;
  font-weight: 500;
  line-height: 26px;
  font-size: 15px;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}


/* AUTOFILL-STYLES */
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /* Change the color to your own background color */
  -webkit-text-fill-color: #333;
}

input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 50px white inset;
  /*your box-shadow*/
}


/* INPUT-PLACEHOLDER */
::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: rgba(52, 49, 61, 0.5);
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: rgba(52, 49, 61, 0.5);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: rgba(52, 49, 61, 0.5);
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgba(52, 49, 61, 0.5);
}

/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 100%;
  width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.main-content {
  flex-grow: 1;
}


/* SITE-BUTTON */
.button {
  padding: 14px 40px 12px;
  border-radius: 28px;
  background-color: var(--accent-bg-color);
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  text-transform: capitalize;
  border: 0;
  white-space: nowrap;
  cursor: pointer;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-small {
  padding: 8px 23px;
  font-size: 15px;
}

.button-rectangle {
  border-radius: 10px;
  padding: 17px 40px;
}

.button-rectangle-small {
  padding: 10px 31px 7px;
  font-size: 15px;
  border-radius: 5px;
}


/* SITE-HEADER */
.header {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: #fff;
}

.header__container {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.header__logo-link {
  margin-right: 45px;
}

.logo {
  display: flex;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.header__logo-img {
  width: 120px;
  height: 32px;
  object-fit: contain;
}

.sitenav {
  margin-right: auto;
}

.sitenav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.sitenav__item:not(:last-child) {
  margin-right: 29px;
}

.sitenav__link {
  text-decoration: none;
  color: var(--text-color);
}

.sitenav__link:hover {
  color: var(--accent-bg-color);
}

.sitenav__link:active {
  opacity: 0.6;
}

.header__login {
  text-decoration: none;
  color: var(--text-color);
  margin-right: 37px;
}

/* SITE-HERO  */
.hero {
  position: relative;
  padding-top: 91px;
  padding-bottom: 222px;
  background-color: #fff;
}

.hero__container {
  display: flex;
}

.hero__content {
  max-width: 570px;
}

.hero__heading {
  margin-top: 0;
  margin-bottom: 5px;
  color: var(--heading-color);
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 90px;
  letter-spacing: -2px;
}

.hero__text {
  color: var(--text-color);
  font-size: 22px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 52px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.hero__img {
  position: absolute;
  top: 0;
  left: calc(50% + 102px);
}

/* INDEX-SHORTENER-FEATURE-WRAPPER */
.index-shortener-feature-wrapper {
  background-color: #eff1f7;
}

.index-shortener {
  position: relative;
  margin-top: -84px;
}

.shortener {
  border-radius: 10px;
  background-color: #3a3054;
  background-image: url(../img/shortener-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 52px 64px;
  margin-bottom: 24px;
}

.shortener__form {
  display: flex;
}

.shortener__input-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: 24px;
}

.shortener__input {
  flex-grow: 1;
  border-radius: 10px;
  width: 100%;
  padding: 14px 32px;
  color: var(--heading-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
  border: 3px solid transparent;
}

.shortener__input:not(:focus):not(:placeholder-shown):valid {
  border-color: green;
}

.shortener__input:not(:focus):not(:placeholder-shown):invalid {
  border-color: var(--error-color);
}


.shortener__error-msg {
  display: none;
}

.shortener__input:not(:focus):not(:placeholder-shown):invalid~.shortener__error-msg {
  position: absolute;
  top: calc(100% + 8px);
  display: block;
  color: var(--error-color);
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.109px;
}

/* SHORTENER-RESULT */
.shortener__result {
  display: none;
}

.shortener__result--open {
  display: block;
}

.shortener__result-inner {
  display: flex;
  padding: 16px 24px;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  letter-spacing: 0.15px;
}

.shortener__result-inner:not(:last-child) {
  margin-bottom: 16px;
}

.shortener__result-origin-text {
  flex-grow: 1;
  color: var(--heading-color);
  font-style: normal;
}

.shortener__result-short-link {
  color: var(--accent-bg-color);
  font-style: normal;
  margin-right: 24px;
  text-decoration: none;
}

.shortener-copy-link-bg {
  background-color: #3a3054;
}


/* INDEX-FEATURE */
.index-feature {
  padding-top: 120px;
  padding-bottom: 120px;
}

.index-feature__top {
  text-align: center;
  margin-bottom: 100px;
}

.index-feature__heading {
  margin-top: 0;
  margin-bottom: 18px;
  color: var(--heading-color);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
}

.index-feature__info {
  margin: 0;
  max-width: 540px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0.123px;
}

.index-feature__list {
  position: relative;
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.index-feature__list::before {
  position: absolute;
  background-color: var(--accent-bg-color);
  height: 8px;
  width: 100%;
  top: 152px;
  content: "";
}

.index-feature__item {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  padding-top: 77px;
  padding-right: 32px;
  padding-left: 32px;
  padding-bottom: 41px;
}

.index-feature__item:not(:last-child) {
  margin-right: 30px;
}

.index-feature__item:nth-child(2) {
  margin-top: 44px;
}

.index-feature__item:nth-child(3) {
  margin-top: 88px;
}

.index-feature__img-wrapper {
  display: flex;
  position: absolute;
  left: 32;
  top: -44px;
  align-items: center;
  justify-content: center;
  width: 88px;
  height: 88px;
  background-color: #3a3054;
  border-radius: 50%;
}

.index-feature__item-title {
  margin-top: 0;
  margin-bottom: 12px;
  color: var(--heading-color);
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.index-feature__item-text {
  margin: 0;
}



/* CTA  */
.cta {
  padding-top: 57px;
  padding-bottom: 57px;
  background-image: url(../img/cta-bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.cta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.cta__heading {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 32px;
}



/* SITE-FOOTER */
.footer {
  padding-top: 71px;
  padding-bottom: 71px;
  background-color: #232127;
}

.footer__container {
  display: flex;
  align-items: flex-start;
}

.footer__logo--link {
  margin-right: auto;
}

.footer__logo {
  width: 120px;
  height: 33px;
  object-fit: contain;
}

.footer__menus {
  margin-right: 100px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 461px;
  color: #fff;
}

.footer__menu--title {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.25px;
}

.footer__menu--list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__menu-item:not(:last-child) {
  margin-bottom: 10px;
}

.footer__menu--link {
  color: var(--tetx-color-dark);
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.234px;
  text-decoration: none;
  text-transform: capitalize;
}

.footer__menu--link:hover {
  color: var(--accent-bg-color);
}

.footer__menu--link:active {
  color: var(--accent-bg-color);
  opacity: 0.6;
}

.footer__socials--list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.footer__socials--item:not(:last-child) {
  margin-right: 24px;
}

.footer__socials--link {
  display: flex;
}

.footer__socials--link svg {
  color: #fff;
}

.footer__socials--link svg:hover {
  color: var(--accent-bg-color);
}

.footer__socials--link svg:active {
  color: var(--accent-bg-color);
  opacity: 0.6;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {

  .shortener {
    background-image: url(../img/shortener-bg@2x.png);
  }
}